{% extends "base.html" %}

{% block content %}

<div class="col-12 mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="row">
        <h1 class="mx-auto">Current shopping list</h1>
      </div>
      <div class="row">
        <form method="POST" action="{% url 'shopping_list' %}" class="w-100">
          {% csrf_token %}
          <ul class="list-group list-group-flush mx-lg-3">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <h4>Cancelled</h5>
              <h4>Bought</h5>
            </li>
            {% for item in shopping_list %}
            <li class="list-group-item d-flex justify-content-between align items center">
              <div>
                <input type="checkbox" class="cancel-chkbx" name="cancelled_item" value="{{ item.id }}"
                {% if item.cancelled %} checked {% endif %}>
                <div class="empty-block"></div>
                <span class="{% if item.cancelled %}text-muted{% endif %}{% if not item.cancelled %}bold-text{% endif %}">{{ item.product.product_name }}</span>
              </div>
              <div>
                <input type="checkbox" class="completed-chkbx" name="completed_items" value="{{ item.id }}"
                {% if item.bought %} checked {% endif %}>
              </div>
            </li>
            {% endfor %}
            <button type="submit">Confirm changes to database</button>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
