
{% extends "base.html" %}

{% block content %}

<div class="col-12 mt-3 left">
  <div class="row">
    <ul>
      {% for item in object_list %}
      <li class="list_item">{{ item.product.product_name }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<!-- index.html content starts here -->
<ul class="list-group">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>

<!-- index.html content ends here -->
{% endblock %}